# Laravel
/vendor
/.env.*.backup
/storage/*.key
/storage/debugbar
/storage/logs
/storage/docker
/public/storage

# Laravel cache files
/bootstrap/cache/*
!bootstrap/cache/.gitignore

# Vite
/node_modules
/public/hot

# IDE и служебные
/.idea
/.vscode
/.fleet

# Логи и отладка
npm-debug.log
yarn-error.log
.phpunit.result.cache
/.phpunit.cache

# Swagger и доки
/storage/api-docs/*
/storage/app/public/*
L5_SWAGGER_UI_ASSETS_PATH

# Homestead (если есть)
Homestead.yaml
Homestead.json

# Docker
docker-compose.yml
docker-compose*.yml
Dockerfile
.dockerignore
docker/
